
/script_for_advUpdater_db.odt
/script_for_advUpdater_db.sql
/AdvUpdater_db_DB_schema.pdf
/decomposition.pdf
/decomposition.odt
/AdvUpdaterMockup+.bmpr
/AdvUpdaterMockup.pdf
/AdvUpdaterMockup.bmpr
/script.txt
/8BddxmbIIpjKAAAAAASUVORK5CYII=.png
/dbScheme.png

/scripts/.vscode
/scripts/__pycache__
/scripts/cookies/*.pkl
/python-virtual-environments

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
